#root {
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
}

#computer-score-container,
#user-score-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 210px;
  height: 190px;
  max-width: 210px;
  max-height: 190px;
  font-size: 17px;
  padding: 1% !important;
}

#user-score,
#computer-score {
  font-size: 68px;
  margin: 0;
  font-weight: bold;
}

/* Game Diagram */
.game-container {
  z-index: 1;
}

.rock,
.scissor,
.paper {
  cursor: pointer;
  position: relative;
  border: 10px solid;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  margin: 20px;
  padding: 20px;
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 10%,
    rgb(255, 255, 255) 20%,
    rgb(167, 167, 167) 100%
  );
}
.rock {
  border-color: #0074b6;
}
.paper {
  border-color: #ffa943;
}
.scissor {
  border-color: #bd00ff;
}

.line1,
.line2,
.line3 {
  width: 200px;
  background-color: black;
  position: absolute;
  height: 10px;
  border-radius: 100px;
}

.line1 {
  position: absolute;
  /* top: 200px; */
  bottom: 50%;
  left: 45%;
  z-index: 0;
}

.line2 {
  position: absolute;
  bottom: 30%;
  right: 50%;
  transform: rotate(120deg);
  z-index: 0;
  transform-origin: right;
}

.line3 {
  position: absolute;
  bottom: 30%;
  right: 50%;
  transform: rotate(55deg);
  z-index: 0;
  transform-origin: right;
}

.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
  width: 278px;
  height: 325px;
  border: 5px solid white;
  background-color: #004429;
  color: white;
  position: absolute;
  bottom: 10%;
  right: 10%;
  font-size: 13px;
}

.rules-list {
  list-style-type: square;
}

.rules-list > li::marker {
  color: #ffd600;
}
.close-btn {
  position: absolute;
  top: 45%;
  right: 8%;
  z-index: 1;
}

.rules-btn {
  /* position: absolute;
  right: 5%;
  bottom: 5%; */
  padding: 10% 20% 10% 20%;
  color: white;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 2px;
}

.bottom-btns-container {
  display: flex;
  width: 100%;
}

@keyframes moveStars {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes starColorChange {
  0% {
    fill: #dbe4d8;
  }
  50% {
    fill: #fff;
  }
  100% {
    fill: #dbe4d8;
  }
}

#stars polygon {
  animation: moveStars 3s infinite, starColorChange 3s infinite;
  transform-origin: center;
  scale: 1.5;
}

/* #trophyImage { */
/* animation: moveStars 3s infinite; */
/* } */

rect {
  fill: none;
}

.winner-animation {
  background: radial-gradient(
    circle,
    rgba(255, 253, 253, 0) 0%,
    rgba(29, 168, 43, 1) 90%,
    rgb(47, 154, 37) 100%
  );
  border-radius: 100%;
  animation: colorChange 1s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes colorChange {
  0% {
    background: radial-gradient(
      circle,
      rgba(255, 253, 253, 0.582) 0%,
      rgba(29, 168, 43, 0.506) 90%,
      rgba(47, 154, 37, 0.133) 100%
    );
  }

  50% {
    background: radial-gradient(
      circle,
      rgba(255, 253, 253, 0) 0%,
      rgba(29, 168, 43, 0.228) 90%,
      rgba(47, 154, 37, 0.214) 100%
    );
  }

  100% {
    background: radial-gradient(
      circle,
      rgba(255, 253, 253, 0) 0%,
      rgba(29, 168, 43, 0) 90%,
      rgba(47, 154, 37, 0) 100%
    );
  }
}
